[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]

asyncio = "*"
configparser = "*"
"discord.py" = "*"
discord-py-slash-command = "*"
newrelic = "*"
PyNaCl = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
